@font-face {
  font-family: 'FZJL';
  src: url('https://cdn.lvcshu.info/font/FZJL.ttf');
}

@font-face {
  font-family: 'graphik';
  src: url('https://cdn.lvcshu.info/font/graphik-normal-300.woff2')
}

@font-face {
  font-family: 'nei';
  src: url('https://cdn.lvcshu.info/font/nei.woff');
}

:root {
  --text: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
  }
}

body {
  color: var(--color-text);
}

.setting {
  text-align: left;
  padding: 15px 20px;
}

.title {
  font-family: 'nei', 'schnyder', Times, serif;
  font-size: 40px;
}

.home {
  min-height: 90%;
  padding-bottom: 70px;
}

.foot {
  bottom: 0px;
  position: inherit;
  width: 100%;
  left: 0px;
}

.postlisttitle {
  font-family: 'graphik', Times, serif;
  font-size: 19px;
  line-height: 33px;
  font-weight: 400;
  color: black;
  text-underline: none;
}

.postlisttitle:link {
  text-underline: none !important;
}

.postlisttitle:hover {
  font-size: 120px;
  line-height: 33px;
  font-weight: 400;
  color: #31875f;
  text-underline: none !important;
}

html {
  font-family: "SF Pro Display", PingFangSC-Thin, graphik, PingFang-SC-W3, "Segoe UI", Roboto, "Microsoft YaHei UI", "Source Han Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

#main {
  height: 90%;
  width: 80%;
  margin: auto;
}

#app {
  height: 100%;
}

#topnav {
  height: 10%;
}

.post {
  padding: 5px;
  padding-left: 15px !important;
  transition: 0.08s;
  border-bottom: solid;
  border-color: rgba(0,0,0,.05);
  border-bottom-width: thin;
}

.post:hover {
  background-color: rgba(0, 0, 0, .07);
  border-left: solid;
  border-left-color: rgba(0, 0, 0, .5);
}

#topnav a:link {
  text-decoration: none;
}

#topnav a:hover {
  transition: 0.08s;
  border-bottom: solid;
  border-color: #42b983;
}

.read {
  background-color: rgba(0, 0, 0, 0.07);
}

.unread {
  background-color: rgba(0, 0, 0, 0);
}

.select {
  border-bottom: solid;
  border-color: #42b983 !important;
}

.tab:hover {
  transition: 0.08s;
  border-bottom: solid;
  border-color: #42b983;
}

.tab {
  border-bottom: solid;
  border-color: rgba(0, 0, 0, 0);
}

#postcontext {
  text-align: initial;
  padding: 30px;
}

#postcontext * {
  max-width: 100% !important;
}

.empty {
  position: sticky;
  top: 50%;
  width: 100%;
}

#postcontext p {
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
  margin: 20px 0;
}

#postcontext h2 {
  line-height: 38px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'graphik', Times, serif;
}

.loading {
  position: fixed;
  left: 5px;
  top: 5px;
  height: 20px;
  width: 20px;
}

.postdate {
  font-size: small;
  color: rgba(0, 0, 0, .7);
  float: right;
  margin: 5px
}

@media screen and (max-width: 1000px) {
  #main {
    width: 100% !important;
  }

  .postdate {
    font-size: small;
    position: absolute;
    right: 30px;
    margin: 5px
  }

  .postdate {
    display: none;
  }

  #topnav a {
    float: none !important;
  }

  .lefttab {
    background-color: #42b983;
    color: white;
    bottom: 0px !important;
    left: 0px !important;
    padding: 15px;
    z-index: 99;
    margin: 0 !important;
    width: 50%;
    border: solid;
  }

  .righttab {
    background-color: #42b983;
    color: white;
    bottom: 0px !important;
    right: 0px !important;
    padding: 15px;
    z-index: 99;
    margin: 0 !important;
    width: 50%;
    border: solid;
  }

  .readbtn {
    position: absolute;
    right: 5px;
  }
}

@media screen and (min-width: 1200px) {
  #postcontext {
    width: 930px !important;
    margin: auto !important;
  }
}

.lefttab {
  margin: 5px;
  position: fixed;
  left: 50px;
  z-index: 99;
}

.righttab {
  position: fixed;
  right: 50px;
  z-index: 99;
}

.readbtn {
  margin: 5px;
}
